body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

header {
    background-color: rgb(158, 193, 158);
    padding: 10px 40px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 70px;
    margin: auto 0;
    width: auto;
    display: block;
    border-radius: 20px;
    flex-shrink: 0;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex: 1;
}

nav a,
#logoutBtn {
    text-decoration: none;
    color: white;
    padding: 20px 40px;
    background-color: rgb(158, 193, 158);
    margin-top: auto;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

nav a.active{
    text-decoration: underline;
    font-weight: 600;
}

nav a:hover, #logoutBtn:hover{
    color: #313131;
}

#followToggleBtn:hover, #posts .delete-btn:hover, #posts .edit-btn:hover, #createPostForm button:hover, #loginForm button:hover, #registerForm button:hover{
    color: #ccc;
    background-color: rgb(132, 156, 132);
}

h1{
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    color: black;
}

h2{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    color: black;
}

footer{
    text-align: center;
    padding: 20px;
    background-color: rgb(158, 193, 158);
    margin-top: 40px;
    color: black;
}

#createPostForm, #posts, #profile, 
#userPosts, #loginForm, #registerForm, #post{
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#createPostForm textarea, #createPostForm input[type="text"]{
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

#searchInput{
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

#posts .delete-btn, #posts .edit-btn{
    background-color: rgb(158, 193, 158);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 30px;
    margin-right: 10px;
    cursor: pointer;
    color: black;
}

#loginForm input, #registerForm input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#loginForm button, #registerForm button, 
#createPostForm button, #followToggleBtn{
    width: 100%;
    padding: 10px;
    background-color: rgb(158, 193, 158);
    border: none;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    cursor: pointer;
}


@media (max-width: 600px) {
    nav a, #logoutBtn{
        padding: 5px 10px;
        font-size: 14px;
    }

    img{
        height: 150px;
    }

    #createPostForm, #posts, #profile, #userPosts, 
    #loginForm, #registerForm, #post, #searchInput{
        width: 80%;
        margin: 10px auto;
    }

}